.mb-8{
  margin-bottom: rem(8) !important;
}

.mb-16{
  margin-bottom: rem(16) !important;
}

.mb-20 {
  margin-bottom:rem(20) !important;
}

.mb-24 {
  margin-bottom:rem(24) !important;
}

.mb-32 {
  margin-bottom:rem(32) !important;
}

.mb-40 {
  margin-bottom:rem(40) !important;
}