.header {    
  
  padding:rem(14) rem(16);

  @media #{$bp-md-xl} {
    // border-bottom:rem(8) solid color(1);    
  }

  .logo {
    display: inline-block;
    width:rem(73);
    height:rem(56);
    //path is relative to file where is index sass
    background: url("../content/logo.svg") no-repeat;
  }

  .header-md-xl {
    display: none;    

    @media #{$bp-md-xl} {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
    }        

    .navigation-meta {
      @include justify-content(flex-end);      
    }    
  
    .navigation-md-xl nav {      
      @media #{$bp-md-xl} {
        @include flexbox();        
        @include justify-content(flex-end);
      }
        
      button {
        @include button-reset;
        padding:rem(16) rem(32);
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .75px;        
        font-size: rem(14);
        font-weight: bold;

        border-bottom: rem(4) solid color(2);        
        
        &.active {
          color:color(4);
          background:color(1);
          border-bottom-color: transparent;          
        }
      }      
    }
  }
  
  .header-xxs-sm {
    display: none;
    padding-top:rem(16);
    padding-bottom:rem(16);

    @media #{$bp-xxs-sm} {      
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);         

      .hamburger {
        display: inline-block;
        width:rem(60);
        height: rem(60);
        background: url("../content/hamburger.svg");
        border:none;
      }

      .logo {          
        width:rem(60);
      }
    }  

  }
}