@mixin font-display($param: optional){

  //https://css-tricks.com/font-display-masses/
  //NEEDST TO BE USED INSIDE FONT FACE

  //FOIT can't happen in the above the folder section - first impression is really important in this section
  // this makes all browsers to behave like IE - no FOIT at all
  //font-display:swap;

  //FOIT can happen but only for a really short time period - 100ms (otherwise FOIT can lasts up to 3s in Chrome)
  //font-display:fallback;

  //THE MOST ACCESSIBLE WAY
  //FOIT can happen for an extremly small time period and browser can also descide not to use the external font at all in poor network conditions
  //The optional value leaves it up to the browser to decide whether to initiate the font download, 
  //which it may choose not to do or it may do it as a low priority depending on what it thinks would be best for the user. 
  //This can be beneficial in situations where the user is on a weak connection and pulling down 
  //a font may not be the best use of resources.
  font-display:$param; 
}

@font-face
{
  font-family: Roboto;
  src: url("../content/fonts/roboto-regular-webfont.woff") format("woff"),
        url("../content/fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;

  @include font-display;
}

@font-face
{
  font-family: Roboto;
  src: url("../content/fonts/roboto-medium-webfont.woff") format("woff"),
        url("../content/fonts/roboto-medium-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;

  @include font-display;
}

@font-face
{
  font-family: Roboto;
  src: url("../content/fonts/roboto-black-webfont.woff") format("woff"),
        url("../content/fonts/roboto-black-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;

  @include font-display;
}

//https://www.cssfontstack.com/Arial
$font-family: Roboto,Arial,"Helvetica Neue",Helvetica,sans-serif;

//Icons
@font-face
{
  font-family: Icomoon;
  src: url("../content/fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

 
html {
  font-size:100%;
  line-height: 1.5;
  font-family: $font-family;
  color: color(3);

  //https://css-tricks.com/almanac/properties/t/text-rendering/
  text-rendering: optimizeSpeed;

  //https://davidwalsh.name/font-smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


//base vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin-bottom:rem(16);
}

//main page heading
h1{
  font-weight: 900;
  font-size: rem(34);
  margin-bottom: rem(40);
}

//form category heading
h6{
  font-size:rem(20);
  font-weight:bold;
  padding-bottom:rem(8);
  border-bottom: 1px solid color(2);
  margin-bottom: rem(24);
}
