/*/////////////
//   Usage   //
///////////////

.element {
  @include fnz-animation(myAnim);
}

@include fnz-keyframes(myAnim) {
  0% { color: red }
  100% { color: green }
}



/*////////////////////////
//   Animation mixins   //
//////////////////////////

@mixin animation($parameters) {
  -webkit-animation: $parameters;
  animation: $parameters;
}

@mixin animation-name($value) {
  -webkit-animation-name: $value;
  animation-name: $value;
}

@mixin animation-fill-mode($value) {
  -webkit-animation-fill-mode: $value;
  animation-fill-mode: $value;
}

@mixin animation-delay($value) {
  -webkit-animation-delay: $value;
  animation-delay: $value;
}

@mixin animation-play-state($value) {
  -webkit-animation-play-state: $value;
  animation-play-state: $value;
}

@mixin animation-iteration-count($value) {
  -webkit-animation-iteration-count: $value;
  animation-iteration-count: $value;
}

@mixin animation-timing-function($value) {
  -webkit-animation-timing-function: $value;
  animation-timing-function: $value;
}

@mixin animation-duration($value) {
  -webkit-animation-duration: $value;
  animation-duration: $value;
}

@mixin animation-direction($value) {
  -webkit-animation-direction: $value;
  animation-direction: $value;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name}
  {
      @content;
  }

  @keyframes #{$animation-name}
  {
      @content;
  }
}